-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: practice
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `likebbs`
--

DROP TABLE IF EXISTS `likebbs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `likebbs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `postDate` datetime DEFAULT NULL,
  `postTitle` varchar(32) DEFAULT NULL,
  `postComment` text DEFAULT NULL,
  `postUser` varchar(32) DEFAULT NULL,
  `likeCount` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likebbs`
--

LOCK TABLES `likebbs` WRITE;
/*!40000 ALTER TABLE `likebbs` DISABLE KEYS */;
INSERT INTO `likebbs` VALUES (1,'2025-11-13 15:43:48','πéªπéúπâ│πâèπü╛πâ╝πüì','Θúƒπü╣πüƒπüä','πé║πéºπâ╝πé╛πâ╝πâåπââ',0),(2,'2025-11-13 15:44:51','πü░πü╢πü░πü╢','πü╢πü░πü╢πü░','πé║πéºπâ╝πé╛πâ╝πâåπââ',0),(3,'2025-11-13 15:45:43','πâ⌐πâ╝πâ₧πâ│Θúƒπü╣πüƒπüä','πüèΘçæπüîπü¬πüä','πé║πéºπâ╝πé╛πâ╝πâåπââ',0);
/*!40000 ALTER TABLE `likebbs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sample01`
--

DROP TABLE IF EXISTS `sample01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sample01` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state` int(11) NOT NULL,
  `name` varchar(32) NOT NULL,
  `birthday` date NOT NULL,
  `gender` varchar(8) NOT NULL,
  `address` varchar(128) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sample01`
--

LOCK TABLES `sample01` WRITE;
/*!40000 ALTER TABLE `sample01` DISABLE KEYS */;
/*!40000 ALTER TABLE `sample01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scategory`
--

DROP TABLE IF EXISTS `scategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `scategory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state` int(11) DEFAULT 1,
  `categoryNo` int(11) NOT NULL,
  `categoryName` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scategory`
--

LOCK TABLES `scategory` WRITE;
/*!40000 ALTER TABLE `scategory` DISABLE KEYS */;
INSERT INTO `scategory` VALUES (1,1,1,'πü¿πéèπüéπüêπüÜµ│¿µûç'),(2,1,2,'πüèσ»┐σÅ╕'),(3,1,3,'τä╝πüìτë⌐'),(7,1,0,'µÅÜπüÆτë⌐'),(8,1,0,'πâëπâ¬πâ│πé»'),(9,1,0,'πâçπé╢πâ╝πâê');
/*!40000 ALTER TABLE `scategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sitem`
--

DROP TABLE IF EXISTS `sitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sitem` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state` int(11) DEFAULT 1,
  `category` int(11) NOT NULL,
  `name` varchar(32) NOT NULL,
  `price` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sitem`
--

LOCK TABLES `sitem` WRITE;
/*!40000 ALTER TABLE `sitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `sitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `smanagement`
--

DROP TABLE IF EXISTS `smanagement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `smanagement` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state` int(11) DEFAULT 1,
  `orderNo` varchar(50) NOT NULL,
  `tableNo` int(11) NOT NULL,
  `dateA` datetime DEFAULT current_timestamp(),
  `dateB` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `smanagement`
--

LOCK TABLES `smanagement` WRITE;
/*!40000 ALTER TABLE `smanagement` DISABLE KEYS */;
/*!40000 ALTER TABLE `smanagement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sorder`
--

DROP TABLE IF EXISTS `sorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sorder` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state` int(11) DEFAULT 1,
  `orderNo` varchar(50) NOT NULL,
  `itemNo` int(11) NOT NULL,
  `amount` int(11) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sorder`
--

LOCK TABLES `sorder` WRITE;
/*!40000 ALTER TABLE `sorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `sorder` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-07  2:44:56
